<nav class=" flex justify-around bg-transparent border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
    <!--logo --->
    <div class=" items-center ">
        <h1 class="text-51 font-medium text-cyan-400" >MoviesMoons</h1>
    </div>
    <!--menus--->
    <div class="items-center hidden space-x-8 lg:flex text-white">
        <a href="">Home</a>
        <a href="">TvShow</a>
        <a href="">Movies</a>
        <a href="">Upconming</a>
    </div>
    <!--search--->
    <div classs="flex items-center space-x-2"></div>
    <button class=" text-white px-4 py-2">
        --search---
    </button>

</nav>