<nav class=" flex justify-around bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
    <!--logo --->
    <div class="flex items-center">
        <h3 class="text-6xl font-medium text-blue-500" >MoviesMoons</h3>
    </div>
    <!--menus--->
    <div class="items-center hidden space-x-8 lg:flex text-white">
        <a href="">Home</a>
        <a href="">TvShow</a>
        <a href="">Movies</a>
        <a href="">Upconming</a>
    </div>
    <!--search--->
    <div classs="flex items-center space-x-2"></div>
    <button class=" text-white px-4 py-2">
        xd
    </button>

</nav>