
<div class="flex flex-row-reverse rounded overflow-hidden shadow-lg mx-10 my-4 pb-0  
bg-no-repeat bg-cover text-white item object-left" >
<img class="max-w-xl bg-cover" 
src="https://image.tmdb.org/t/p/w220_and_h330_face{{movies?.backdrop_path}}">
<h1 class="">
    {{movies?.original_title}}
</h1>

<h3> 
    Fecha de Lanzamiento{{movies?.release_date}}
</h3>

<h4>Calificacion de usuarios: {{movies?.vote_average}}</h4>
<h3>
    generos:
<h3  *ngFor="let genres of movies?.genres">
     {{genres.name}} 
</h3>
</h3>
<h5>
    {{movies?.overview}}
</h5>
</div>

