
<div class="flex flex-row-reverse rounded overflow-hidden shadow-lg mx-10 my-4 pb-0  
bg-no-repeat bg-cover text-white item object-left" >
<img class="max-w-xl bg-cover" 
src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRrq6cRK12zrAuOlcUjC7auIPLMdvUJSlS0IzoYkaGF5mOYFim1">
<h1 class="">
    {{movies?.result.titleOriginal}}
</h1>

<h3> 
    Fecha de Lanzamiento{{movies?.result.year}}
</h3>

<h4>Calificacion de usuarios: {{movies?.result.rating}}</h4>

<h3  *ngFor="let genres of movies?.result.genres">
    Genero {{genres.name}} 
</h3>

<h5>
    {{movies?.result.description}}
</h5>
</div>

