
<div class="flex flex-row-reverse rounded overflow-hidden shadow-lg mx-10 my-4 pb-0  bg-no-repeat bg-cover text-white item object-left" >
<img class="max-w-xl bg-cover" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRrq6cRK12zrAuOlcUjC7auIPLMdvUJSlS0IzoYkaGF5mOYFim1">
<h1 class="">{{movies?.title}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae provident, aliquid error quia nihil necessitatibus expedita aliquam, dicta beatae ducimus maiores cum iure rem, adipisci voluptatem architecto blanditiis ab ut.</h1>
<h3>{{movies?.year}} {{movies?.end_year}} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, ipsam, facere quae harum aspernatur, ab iusto consectetur voluptate fuga perspiciatis adipisci explicabo? Quisquam commodi atque eum totam magni itaque alias.</h3>
<h4>Calificacion de usuarios: {{movies?.user_rating}} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, blanditiis provident dolores fuga maxime voluptatem beatae? Ipsum optio, sapiente nulla sit facere sequi quidem, veritatis, praesentium assumenda quas tempora qui.</h4>
<h3>{{movies?.genre_names}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore iusto laborum blanditiis voluptate dolores corporis amet illo, velit neque expedita aspernatur repellendus aliquam quisquam quam veritatis provident non doloremque!</h3>
<h5>{{movies?.plot_overview}}Lorem</h5>
</div>

